body {
  color: $grayDark;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  margin: 0;
}
a {
  color: $linkColor;
  text-decoration: none;
  &:hover {
    color: $linkColorHover;
  }
}

strong  { font-weight: bold; }
em      { font-style: italic; }
cite    { font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  color: $headingsColor;
  font-family: $headingsFontFamily;
  font-weight: $headingsFontWeight;
  margin: 0 0 40px;
  line-height: 1.2;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 15px;
}
h6 {
  font-size: 14px;
}

p, ul {
  margin: 0 0 20px;
}

.resp-break {
  @include breakFirst(large){
    display: block;
  }
}

.icon-svg {
  display: inline-block;
  svg {
    display: block;
    height: 100%;
    width: 100%;
  }
}

// Hide the text and show an image
%textToImg {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

%centerVert, .center-vert {
  @include breakFirst(medium){
    backface-visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .no-csstransforms & {
    position: relative;
    top: 0;
    left: 0;
  }
}
%centerVertLarge, .center-vert-large {
  @include breakFirst(large){
    backface-visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .no-csstransforms & {
    position: relative;
    top: 0;
    left: 0;
  }
}
%centerVertAll, .center-vert-all {
  backface-visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .no-csstransforms & {
    position: relative;
    top: 0;
    left: 0;
  }
}

// Hide only visually, but have it available for screenreaders: h5bp.com
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
